@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poller+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@page {
    size: A4;
    margin: 0;
}

:root {
    --body-font: 'Montserrat', sans-serif;
    --yellow: #e1b648;
    --light-yellow: #ebd9ad;
    --black: #141720;
    --white: #fff;
    --light-grey: #dfdfdf;
    --base-font: 19px;
    --page-width: 210mm;
    --page-height: 295mm;
}

html {
    font-size: var(--base-font);
}



body {
    margin: 0;
    padding: 0;
    background-color: #dfdfdf;
    font-family: var(--body-font);
}

.update-button{
    display: flex; 
    justify-content: center;
    padding: 30px;
}

.update-button button{
    padding: 2px 10px;
    border-radius: 3px;
    background-color: var(--white);
    font-family: var(--base-font);
    transition: all ease-in 0.5s;
}

.update-button button:hover{
    background-color: var(--yellow);
    color: var(--black);
}



.container {
    display: flex;
    width: var(--page-width);
    height: var(--page-height);
    margin: 0 auto;
    background-color: var(--white);
    margin-bottom: 0;
}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: calc(var(--page-width) * 0.4);
    max-height: calc(var(--page-height) - 10px);
    overflow: hidden;
    page-break-inside: avoid;
}

.right-column {
    flex-basis: calc(var(--page-width) * 0.6);
    page-break-inside: avoid;
    margin-bottom: 0;
}


/****************** LEFT COLUMN ******************/


/* TRAIT AFTER  */

.contactme::after,
.knowledge::after,
.education::before {
    content: "";
    position: absolute;
    background-color: var(--yellow);
    top: 24px;
    width: 50px;
    height: 6px;
    right: -23px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* About */

.about-container {
    position: relative;
    background-color: var(--black);
    width: 85%;
    height: 85%;
    bottom: 0;
    margin: 0 auto 20px;
    border-radius: 10px;
}

.about-container img {
    position: absolute;
    top: -104px;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50px;
}

.about-sections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 13%;
    width: 85%;
    padding: 20px;
    color: var(--white);
    overflow: hidden;
}

article {
    margin-bottom: 30px
}

/* CONTACT ME */

.contactme {
    position: relative;
}

.about-sections {
    margin-top: -95px;
}

.about-sections H2 {
    font-size: 1rem;
}

.about-sections ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;

}

.big-letter {
    color: var(--yellow);
    font-weight: bold;
}

.about-sections ul li {
    font-size: 0.5rem;
    margin-bottom: 5px;
}

.big-letter-link {
    text-decoration: none;
    color: var(--white);
}

/* KNOWLEDGE */

.knowledge {
    position: relative;
}


.skill-title {
    margin-top: 5px;
}

.skill-point {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
}

.checked,
.unchecked {
    width: 8px;
    height: 8px;
    margin-right: 5px;
    border-radius: 50%;
}

.checked {
    background-color: var(--yellow);
}

.unchecked {
    background-color: var(--light-yellow);
}

/* EDUCATION */

.education {
    position: relative;
    margin-bottom: 0;
}

.education-section,
.education-year {
    font-size: 0.5rem;
}

.education-section {
    margin-bottom: 15px;
}

.education-year {
    margin-bottom: 2px;
}

.education-section-list{
    margin-left: 15px;
    list-style-type: square;
    
}

.education-section h3 {
    font-size: 0.6rem;
    color: var(--yellow);
    margin-top: 2px;
    margin-bottom: 2px;
}

.education-section p {
    margin-top: 2px;
}

/****************** RIGHT COLUMN ******************/

/* BIO SECTION */

.content-container {
    padding: 10px;
    padding-right: 25px;
    margin-top: 30px;
}

.content-container H1 {
    margin-top: 0;
    margin-bottom: 6px;
    font-size: 1.5rem;
    color: var(--black);
}

.content-container H3 {
    font-size: 0.8rem;
    color: var(--yellow);
    margin-top: 1px;
    margin-bottom: 6px;
}

.content-container p {
    font-size: 0.5rem;
    line-height: 10px;
    color: #141720;
}

.content-container .bio-section-text {
    margin-bottom: 15px;
}

/* LINK SECTION */

.link-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    color: var(--black);
    text-align: center;
    font-size: 0.5rem;
    border-radius: 5px;
    padding: 5px;
}

.yellow-square {
    background-color: var(--yellow);
}

.square-text {
    font-size: 0.5rem;
}


/* WORK EXPERIENCE */

.work-container {
    display: flex;
}

.work-experiences-section {
    position: relative;
    margin-top: 25px;
}

.work-experiences-section::after {
    content: "";
    position: absolute;
    background-color: var(--yellow);
    top: 7px;
    width: 50px;
    height: 6px;
    right: -25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.work-experiences-section H2 {
    font-size: 1rem;
    color: #141720;
    margin-top: 5px;
    ;
}

.work-experiences {
    position: relative;
    padding-left: 30px;
}

.work-experiences::before {
    content: "";
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 0;
    width: 1px;
    background: var(--light-grey);
}


.work-experience {
    position: relative;
    padding-top: 8px;
    margin-bottom: 10px;
}

.experience-1 .experience-2 {
    margin-top: 20px;
}

.work-experience::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -34px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--yellow);
}


.work-timeline {
    width: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: #918b8b 1px solid;
}

.timeline-point {
    justify-content: space-between;
    height: 8px;
    width: 8px;
    border-radius: 50%;
}

.work-year {
    font-size: 0.7rem;
    font-weight: bold;
    color: var(--yellow);
}

.work-experience H4 {
    font-size: 0.8rem;
    margin: 0;
    color: var(--black);
}

.work-experience{
    margin-bottom: 30px;
}

.work-experience span {
    font-size: 0.7rem;
    color: var(--black);
}

.work-experience p {
    margin-top: 4px;
    font-size: 0.5rem;
    line-height: 11px;
    color: var(--black);
}

.work-experience ul {
    margin: 0;
    padding-left: 20px;
}

.work-experience-list li{
    margin-bottom: 5px;
}

.work-experience li {
    font-size: 0.5rem;
    list-style: square;
    color: var(--black);
}

/* skillS */

.skills-section {
    position: relative;
}

.skills-section::after {
    content: "";
    position: absolute;
    background-color: var(--yellow);
    top: 7px;
    width: 50px;
    height: 6px;
    right: -25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.skills-section H2 {
    font-size: 1rem;
    color: var(--black);
    margin-top: 38px;
    margin-bottom: 30px;
}

.skill-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.skill {
    flex-basis: 50%;
    max-width: 50%;
    box-sizing: border-box;
    display: flex;
}

.icon-skill svg {
    fill: var(--yellow);
    font-size: 19px;
    flex: 0 0 24px;
}
.skill-content {
    display: flex;
    flex-direction: column; 
    flex: 1; 
    margin-bottom: 30px;
}

.skill-content H3 {
    font-size: 0.6rem;
    margin-top: 2px;
    margin-left: 25px;
    margin-bottom: 0;
    color: var(--black);
}

.skill-content p {
    font-size: 0.4rem;
    margin: 1px;
    margin-bottom: 5px; 
}

.skill-ul {
    padding-left: 12px;
    margin: 0; 
    margin-top: 5px;
    margin-left: 10px;
}

.skill-content ul li {
    font-size: 0.6rem;
    margin-bottom: 3px; 
    list-style-type: square;
}